[submodule "lib/libryazhahand"]
	path = lib/libryazhahand
	url = https://github.com/Dimasick-git/libryazhahand.git
[submodule "vendor/ryazhahand-upstream"]
	path = vendor/ryazhahand-upstream
	url = https://github.com/ppkantorski/Ultrahand-Overlay
[submodule "vendor/nx-ovlloader"]
	path = vendor/nx-ovlloader
	url = https://github.com/Dimasick-git/nx-ovlloader.git
